* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
}

.navbar {
	background-color: white;
	position: fixed;
	margin-top: 1rem;
	height: 12.5vh;
	width: 90%;
	left: 5%;
	border-bottom: 1px solid grey;
	font-size: 1.2rem;
	z-index: 1;
}

.nav-items {
	height: 100%;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a img {
	height: 8vh;
	width: auto;
	transition: all 0.1s ease-in;
}

.left-nav-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 60%;
}

.nav-link {
	color: rgba(0, 0, 0, 0.75);
	transition: all 0.1s ease-in;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.nav-link::after {
	content: '';
	padding: 1px 5px;
	background: rgb(89, 121, 218);
	width: 0px;
	transition: width 0.3s ease-out;
}

.nav-link:hover {
	color: rgb(89, 121, 218);
}

.nav-link:hover::after,
.active::after {
	width: 100%;
}

.nav-item {
	list-style: none;
}

.nav-link {
	text-decoration: wavy;
	color: black;
}


.wrapper {
	padding-top: 10vh;
	width: 90%;
	margin: auto;
}

.home-card {
	background-color: white;
	padding: 2rem;
	border-radius: 10px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.items-left {
	margin: 20vh auto;
}

.header {
	font-size: 3rem;
	font-weight: 100;
}

.sub-text {
	font-size: 1.5rem;
	font-weight: 100;
	overflow: hidden;
	padding: .2rem;
}

#top-line {
	animation: line 1s ease infinite alternate-reverse;
}

#middle-line {
	animation: line 1s ease infinite alternate-reverse;
}

#bottom-line {
	animation: line 1s ease infinite alternate-reverse;
}

@keyframes line {
	from {
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.typed-text {
	font-weight: normal;
	color: rgb(89, 121, 218);
}
.cursor {
	display: inline-block;
	width: 1px;
	margin-left: .05rem;
	background-color: rgb(89, 121, 218);
	animation: blink 1s infinite;
}
.typing {
	animation: none;
}
@keyframes blink {
	0% {background-color: rgb(89, 121, 218);}
	49% {background-color: rgb(89, 121, 218);}
	50% {background-color: transparent;}
	99% {background-color: transparent;}
	100% {background-color: rgb(89, 121, 218);}
}